<%
    /// 文 件 名：test
    /// 描    述：1111(用一句话描述该文件做什么)  
    /// 项目名称：20190309      
    /// 作    者：武汉大学国家网络安全学院@沈家强    
    /// 发布日期：2019/3/9 16:43  
    /// 文件版本：V1.0 
    /// 注意：本内容仅限于武汉大学国家网络安全学院陈刚教授团队内部传阅，禁止外泄以及用于其他的商业目
    /// @Copyright: 2019 www.whu.edu.cn. All rights reserved. 
    /// All rights Reserved, Designed By www.whu.edu.cn
%>
///E:\07.个人的\武汉大学国家网络安全学院\心电波\20190507最新数据库备份、前端代码、安卓\cardiac\template\Home\login\test.template
<%
   :tel = "13387569585"
   :sql_insertClient="SELECT * FROM ST_PASSPORTS WHERE LOGIN_NAME=?"
     :result_insertClient=changeRecordSet(:sql_insertClient,S(:tel))
     =:result_insertClient
    If :result_insertClient == "ok"
        =111
    EndIf
%>
