.outer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: PingFang-SC-Regular;
	align-items: center;
	background-color: #FFFFFF;
}
.header{
	width: 750px;
	height: 88px;
	background: #ffffff;
	border-bottom: 2px solid #ededed;
	display: flex;
	align-items: center;
}
.header-height-contorl{
	display: flex;
	align-items: center;
	height: 38px;
}
.header-arrow{
	margin-left: 30px;
	margin-top: 10px;
	cursor: pointer;
}
.header-title{
	font-size: 36px;
	margin-left: 188px;
}
.unique{
	background: url(../img/geren-header-bg.png) no-repeat;
	width: 750px;
	height: 406px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.unique-english{
	font-family: PingFangSC-Semibold;
	font-size: 24px;
	color: #8a61ff;
	margin: 66px 28px 0 0;
}
.unique-title{
	font-family: DFPLiJinHeiW8;
	font-size: 50px;
	color: #FFFFFF;
	margin: 58px 34px 0 0;
	letter-spacing:10px;
}
.unique-bar{
	background: url(../img/geren-header-bar.png) no-repeat;
	width: 510px;
	height: 106px;
	display: flex;
	flex-direction: column;
	font-size: 28px;
	font-family: PingFang-SC-Regular;
	color: #FFFFFF;
	margin: 20px 0 72px 0;
	/* padding: 12px 0 0 46px; */
}
.unique-bar-text1{
	width: 292px;
	letter-spacing:3.5px;
	margin: 12px 0 0 56px;
}
.unique-bar-text2{
	width: 292px;
	margin: 0px 0 0 56px;
}
.introduction{
	height: 428px;
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
}
.introduction-logo{
	margin-top: 84px;
}
.introduction-name{
	font-size: 34px;
	color: #14faff;
	margin-top: 10px;
}
.introduction-motto{
	font-size: 24px;
	color: white;
	margin: 0 0 0 10px;
	font-family: PingFang-SC-Regular;
}
.introduction-labers{
	display: flex;
	align-items: center;
	color: #0e8bfe;
	margin-top: 24px;
}
.introduction-laber{
	background-color: #e9f4fe;
	border: 1px solid #0e8bfe;
	border-radius: 20px;
	padding: 3px 12px 3px 12px;
	text-align: center;
	letter-spacing:2px;
}
.laber2{
	margin: 0 14px 0 14px;
}
.ziwojieshao{
	height: 284px;
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
	
}
.ziwojieshao-items{
	margin-top: 40px;
}
.ziwojieshao-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 74px;
}
.ziwojieshao-title-text{
	width: 154px;
	text-align: center;
	font-size: 34px;
	color: white;
	font-family: PingFangSC-Semibold;
	letter-spacing:2px;
}
.ziwojieshao-item-iron{
	margin: 6px 26px 0 0;
}
.ziwojieshao-item{
	width: 698px;
	display: flex;
	align-items: center;
	font-size: 24px;
	font-family: PingFang-SC-Regular;
	color: white;
	margin: 8px 0 8px 0;
	letter-spacing:1px;
}
.rongyu{
	height: 660px;
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
}
.rongyu-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}
.rongyu-title-text{
	width: 154px;
	text-align: center;
	font-size: 34px;
	color: white;
	font-family: PingFangSC-Semibold;
	letter-spacing:2px;
}
.rongyu-item-iron{
	margin: 6px 26px 0 0;
}
.rongyu-items{
	width: 688px;
	text-align: center;
}
.rongyu-items-top{
	margin-top: 42px;
}
.rongyu-items-top,
.rongyu-items-down{
	display: flex;
	justify-content: space-between;
}
.rongyu-item{
	width: 170px;
	height: 170px;
	background: url(../img/geren-rongyu-border.png);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rongyu-item-empty{
	background: none
}
.background-color1{
	background-color: #fffc00;
}
.background-color2{
	background-color: #8fffc7;
}
.dot{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	right: 6px;
}
.rongyu-items-down{
	margin-top: 30px;
}
.rongyu-meaning{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: PingFang-SC-Regular;
	color: #FFFFFF;
	margin-top: 38px;
}
.rongyu-meaning-left,
.rongyu-meaning-right{
	display: flex;
	align-items: center;
	margin: 0 50px 0 50px;
}
.rongyu-dot{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-right: 14px;
}
.rongyu-remarks{
	width: 544px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-family: PingFang-SC-Regular;
	color: #efc7ff;
	background-color: #4028ab;
	border-radius: 20px;
	margin: 10px auto;
}
.rongyu-remarks-top{
	color: white;
	margin: 0 15px 0 15px;
}
.yingxiang{
	width: 750px;
	height: 722px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
}
.yingxiang-items{
	width: 688px;
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}
.yingxiang-item{
	height: 170px;
	margin: 10px 0 10px 0;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
}
.yingxiang-item-img{
	height: 170px;
}
.yingxiang-item-arrow{
	margin: 0 16px 0 16px;
}
.yingxiang-item-bubble{
	background: url(../img/geren-bubble-boder.png) no-repeat;
	width: 100%;
	height: 170px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: PingFang-SC-Regular;
	padding: 0 60px 0 58px;
}
.yingxiang-item-bubble-text{
	margin-top: 50px;
}
.zhuanfang{
	height: 348px;
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
}
.zhuanfang-border{
	height: 158px;
	width: 688px;
	background: url(../img/geren-zhuanfang-boder.png);
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.zhuanfang-remarks{
	width: 320px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-family: PingFang-SC-Regular;
	color: #efc7ff;
	background-color: #4028ab;
	border-radius: 20px;
	margin: 70px auto;
	text-align: center;
	
}
.zhuanfang-pingtai{
	width: 588px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	position: absolute;
	top: -33px;
}
.xuexi{
	height: 504px;
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
	position: relative;
}
.xuexi-xiantiao{
	position: absolute;
	bottom: -60px;
}
.xuexi-items-top,
.xuexi-items-down{
	width: 688px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	
}
.xuexi-items{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 688px;
	color: white;
	font-family: PingFang-SC-Regular;
}
.xuexi-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 84px;
	height: 112px;
	color: #efc7ff;
}
.bottom{
	width: 750px;
	height: 366px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #281677;
	font-size: 24px;
	font-family: PingFang-SC-Regular;
	color: #00e8d9;
}
.bottom-outer{
	width: 396px;
	height: 176px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 74px;
}
.bottom-left-text{
	background: url(../img/geren-border-dibu.png) no-repeat;
	width: 136px;
	height: 42px;
	align-items: center;
	line-height: 42px;
	text-align: center;
	margin-top: 24px;
}
.bottom-left,
.bottom-right{
	display: flex;
	flex-direction: column;
	align-items: center;
}