<%
    :sql_deleteMedicalRecord="DELETE FROM medical_record WHERE id=?"
    :result_deleteMedicalRecord = execSQL(:sql_deleteMedicalRecord,S(:id))

 debugMsg(":result_deleteMedicalRecord=============="#:result_deleteMedicalRecord)

    =:result_deleteMedicalRecord

%>