<%
      :ln = tuid()
      :sql_addAnalysis="INSERT into medical_record_analysis(id,clientId,clientName,time,totalpeak,quantitativePeak,distributionone,distributiontwo,distributionthree,distributionfour,distributionfive,distributionsix,age,sex,medicalrecordid,longitude,latitude,address) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
      :resultRecord=execSQL(:sql_addAnalysis,S(:ln),S(:clientId),S(:clientName),S(:time),S(:totalPeak),S(:quantitativePeak),S(:distributionone),S(:distributiontwo),S(:distributionthree),S(:distributionfour),S(:distributionfive),S(:distributionsix),S(:age),S(:sex),S(:medicalRecordId),S(:longitude),S(:latitude),S(:address))
      =:resultRecord
%>