<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/pages/home/admin/src/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/pages/home/admin/src/layuiadmin/style/admin.css" media="all">
    <script src="/pages/home/admin/src/layuiadmin/layui/layui.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <!--zoolina基础配置-->
    <script type="text/javascript" src="/Scripts/StationJSLib.js"></script>
    <!--    验证码插件-->
    <script src="/Scripts/common/jquery.smsCode.whu.plugin.js"></script>

    <!--    自定义样式-->
    <link rel="stylesheet" href="/assets/css/admin-customize-style.css">

    <script>
      //加载表格
      let use = layui.use(['table', 'jquery'], function() {
        var table = layui.table;
        var $ = layui.$;
        table.render({
          elem: '#list-table'
          , url: '/Home/record/listRecord.template'
          ,cellMinWidth: 260
          , response: {
            countName: 'total' //规定数据总数的字段名称，默认：count
          }
          , cols: [
            [
              {type: 'checkbox', fixed: 'left'}
              , {field: 'id', title: 'ID', width:220,align: 'center'}
              , {field: 'operater', title: '登录人员',width:160, align: 'center'}
              , {field: 'time', title: '时间', width:300,align: 'center'}
              , {field: 'IP', title: '登录IP', width:200,align: 'center'}
              , {field: 'address', title: '地址', align: 'center'},
            ]]
          , page: true,
        });

        //批量删除
        $('#batchDelete').click(function() {
          // var checkStatus = table.checkStatus('list-table');
          // var data = checkStatus.data;
          // if (data == '') {
          //   layer.msg("请选择要删除的条目")
          // }
          // else{
          //   layer.confirm('确定批量删除这些条目？', function(index) {
          //     let userIds = '';
          //     let usersCount = 0;
          //     for (var i = 0; i < data.length; i++) {
          //       userIds = userIds + data[i].id + ',';
          //       usersCount++;
          //     }
          //     //去掉最后一个 ，
          //     userIds = userIds.substr(0, userIds.length - 1);
          //     let obj = new Array();
          //     let Result = function() {
          //       if (obj[0] == 'ok') {
          //         window.location.reload();
          //         layer.close(index);
          //       } else {
          layer.msg('登录日志不允许进行删除');//${obj[0]}, function() {
          //关闭后的操作});
          //   }
          // };
          //     getFromWS('Home/admin/record/DeleteRecord.template',
          //         'ids=' + userIds + '$^@^$usersCount=' + usersCount, obj, Result);
          //
          //   });
          // }
        });

        //搜索
        $('#search').click(function() {
          var data = $('#searchName').val();//搜索的关键字
          //重载表格
          layui.use('table', function() {
            var table = layui.table;
            table.reload('list-table', {
              url: '/Home/record/listRecord.template',
              where: { //设定异步数据接口的额外参数，任意设
                keyWord: data,
              }
              , page: {
                curr: 1, //重新从第 1 页开始
              },
            });
          });
        });
      });
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header">
            <h2>登录日志</h2>
        </div>
        <div class="layui-card-body card-outer" style="position: relative;">
            <div class="user-table">
                <div class="table-header-btn personManage-btns" style="display: flex;align-items: center;padding: 4px 0">
                    <div class="layui-btn-container" style="padding-right: 4px">
                        <button class="layui-btn layui-btn-danger u-btn layui-btn-sm" id="batchDelete" style="margin: auto 0!important;">
                            清空
                        </button>
                    </div>
                    <div class="search-outer">
                        <div class="layui-inline">
                            <input class="layui-input" name="id" id="searchName" autocomplete="off"
                                   placeholder="登录人员/时间">
                        </div>
                        <button class="layui-btn u-btn layui-btn-sm" id="search" style="margin: auto 0!important;width: 24%">搜索</button>
                    </div>
                </div>
                <table class="layui-hide" id="list-table" lay-filter="list-table"></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>